/* -----Barra Navegacion--- */
.custmNavLogo {
    width: 50px;
}


/* ------Contenido--- */
.viajes{
    margin-left: 140px;
}

.imagen{
    width: 100%;
}

/* -----footer--- */
footer {
    /* border: solid 2px red; */
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: black;
}

footer>a {
    color: white;
}